<div id="<%= dom_id client %>">
  <p>
    <strong>Fullname:</strong>
    <%= client.fullname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= client.message %>
  </p>

</div>
